
.login_container {
  display:flex;
  flex-direction:row;
}
.login_container_inscription {
  font-size:18px;
  width:48%;
}
.login_header_logo {
  width:fit-content;
  margin:auto;
  padding-top:50px;

}
.login_header_logo h2 {
  display:inline-block;
  margin:auto;
  margin-top:15px;
}
.login_container_separator {
  width:0.2%;
  background:black;
  height:250px;
  margin-top: 40px;
}
.login_container_form {
  font-size:18px;
  width:48%;

}
.login_container_form form {
  width:80%;
  margin:auto;
}
.login_container_form label {
  display:block;
  color:#A5A3A3;
  padding-top:25px;


}
.login_container_inscription_link {
  margin:auto;
  width:fit-content;
  margin-top:20%;

}
.login_container_inscription_link a {
  color:#3366FE;
  font-size:18px;
  text-decoration: none;
}
.login_container_form input {
  background:#C7C7FF;
  border:none;
  height:50px;
  width:100%;
  border-radius:5px;
  padding-left:10px;
}
.login_container_form input[type="submit"] {
  background: none;
    cursor: pointer;
    font-size: 18px;
    color:#3366FE;
}

.checkbox_label {
  display:inline-block !important;
  vertical-align: 17px;
}
#remember_me {
  width:fit-content;
  display:inline-block;
}

.login_footer_avantage {
  color:#797979;
  font-size:15px;
  margin-left:12%;
}
.login_container_form_header {
  color:#797979;
  font-size:18px;
  margin-left:10%;
}
.login_footer_avantage.inverse {
  float:right;
  margin-right:12%;

}

.confirm_text {
  font-size:30px;
  color:#797979;
  padding:20px;
  text-align: center;

}


// PROFILE //

.profile_announces {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
}

.profile_announces_one {
  margin:5%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:30%;
  padding: 5px;
  border-radius:3px;
  background:#EEEEEE;
  border:1px solid black;
}

.profile_announces_one_information {
  font-size:14px;
  color:#797979;
  width:50%;

}

.profile_announces_one_actions {
  width:100%;
}

.profile_announces_one_actions a {
  margin:10px;
  text-decoration:none;
}


.profile_header {
  text-align: center;
  padding-top:5%;
}
.profile_subtitle {
  margin-left:5%;
  color:#3366FE;
}

.profile_announces_new {
  width:100%;
  text-align: left;
  margin-left: 5%;
}
.profile_announces_one_image {
  width:100%;
  padding-bottom:10px;
}

.new_form form{
  margin-left:50%;
  width:100%;
}

.creation_header {
  text-align: center;
  padding-top:5%;
}
.room_edit {
  margin-left:5%;
  width:45%;
}

.room_container {
  width:80%;

  margin:auto;
  margin-top:5%;
}

.room_action {
  width: fit-content;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
